<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>
    
    </mat-drawer-content>
 </mat-drawer-container> -->
 <!DOCTYPE html>
 <html>
    <head></head>
    <body>
        
 <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <div class="headingContainer">
            <h1 class="welcomePadding">Welcome to Menu</h1>
        </div>
        <hr>
        <div>
            <button class="sideNavButtons" mat-flat-button (click)="onClickAdmin()"><h1>Admin</h1></button>
            <button class="sideNavButtons" mat-flat-button (click)="logOut()"><h1>Log Out</h1></button>
            
        </div>
      

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon >menu</mat-icon></button>
            <mat-icon class="foodIcon">fastfood</mat-icon>
            <div class="input-group mb-2" >
              <input type="text" class="form-control" placeholder="Search" >
              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><mat-icon>search</mat-icon></button>
            </div>


            <span class="spacer"></span>
            <div  >
                <button mat-flat-button color="primary" class="loginButton" (click)="toLoginPage()">Login & signup</button>
            </div>
            
           
            <button mat-icon-button class="notificationButton" (click)=" openNotificationsDialog()"><mat-icon>notifications</mat-icon></button>
            <button mat-icon-button (click)="onClickCart()" class="shoppingCartButton"><mat-icon  [matBadge]="cartCount"  matBadgeColor="warn" >shopping_cart</mat-icon></button>

        </mat-toolbar>
       <app-restaurents></app-restaurents>
       <app-item></app-item>
       <mat-paginator [length]="100"
       [pageSize]="10"
       [pageSizeOptions]="[6, 12, 24, 48]"
       (page)="handlePageEvent($event)"
       aria-label="Select page">
       </mat-paginator>
      

      
    </mat-sidenav-content>
    
 </mat-sidenav-container>



    </body>
    <footer>
   
        
    </footer>
 </html>



