.notificationHeader{
    color: #023020 ;
    font-size: 1.7rem;
    margin-left :20px;
}

body::-webkit-scrollbar {
    width: 8px;  
              /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background:white;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color:white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid  white;  /* creates padding around scroll thumb */
}

.header{
    display: flex;
    margin-top: 10px;
    height: 30px;
}

.deleteIcon{
    margin-left: 150px;
    margin-top: 8px;
 
    color:  #28b485 ;
}

.bellIcon{
    margin-top: 3px;
    margin-left: 10px;
    color: #28b485;
    height: 20px;
    width: 20px;

}

.notificationCart{
    margin: 8px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px; */

}

.notificationMessage{
    margin-left: 10px;
    margin: 15px;
    margin-bottom: 0%;
}

.deleteButton{
    color:#28b485;
}

.noNotifications{
    display: flex;
    justify-content: center;
}